$colores: (
  color_principal: #fbeed4,
  color_1: #ad976b,
  color_2: #ad976b42,
  color_footer: #d0bd98,
);

@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin line-height {
  line-height: 1.6;
}

$font: "Oswald", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font !important;
}

html {
  font-family: $font;
  position: relative;
}

body {
  background-color: white;
}

/*Header*/
.header {
  height: 80px;
  background-color: white;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 30%);
  z-index: 99;

  .header__list {
    list-style: none;
  }

  .header__item {
    display: inline-block;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: map-get($colores, color_1);
      }
    }
  }
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #ad976b;
}

/* Fin header */

/* Slider */
.carousel {
  margin-top: 80px;

  .slider__img {
    @include size(100%, 400px);
  }
}

/* Fin Slider */

/* Utiles  */

.color {
  background-color: map-get($colores, color_principal);
}

.middle {
  vertical-align: top;
  padding-top: 1rem;
}

.main {
  margin-bottom: 86px;
  min-height: 90vh;
}

.flex-items-center {
  display: flex;
  align-items: center;
}

/* Fin Utiles */

/* Section */

.section,
.section-map {
  @extend .flex-items-center;
  width: 100%;
}

.section__content--p {
  @include line-height;
  text-align: justify;
  margin-bottom: 30px;
  font-size: 1.3rem;
}
.section__content--title {
  text-align: left;
  margin-bottom: 20px;
  border-bottom: 1px solid;
  margin-right: 4rem;
}
.section__content--text {
  @include line-height;
  text-align: justify;
}

.section__content--info {
  @extend .flex-items-center;
  text-align: left;
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: #fbeed4;
  border-radius: 1rem;
}

.section__content--icon {
  height: 30px;
  width: 40px;
  margin-right: 3rem;
}

.ubicacion {
  text-align: center;
  border-bottom: 0;
  margin-right: 0;
}

/* Section */

/* Footer section */

.footer {
  @extend .flex-items-center;
  background-color: map-get($colores, color_footer);
  bottom: 0;
  @include size(100%, 86px);

  position: absolute;

  .footer__logo {
    @include size(50px, 50px);
  }

  .footer__icon {
    @include size(32px, 32px);
  }
}
/* Fin Footer section */

/* Galeria */

.feed {
  display: flex;
  justify-content: space-between;
}

.publicacion {
  height: 400px;
}

.title {
  @extend .flex-items-center;
  justify-content: center;
  padding-top: 7rem;
}

/* Fin Galeria */

/* Nosotros */

.bio {
  display: flex;

  .bio__content {
    @include line-height;

    font-size: 1.2rem;
    .bio__content--img {
      border-radius: 50%;
      border: 1px solid black;
    }
    .bio__content--text {
      margin-bottom: 20px;
    }
  }
}

/* Fin Nosotros */

/* Form  */

.form {
  display: flex;
  justify-content: space-evenly;
  .form__content--fieldset {
    border-radius: 1rem;
    padding: 3rem;
  }
  .form__content--info {
    @extend .flex-items-center;
    text-align: left;
    padding: 1.5rem;
    margin: 1rem 0 1rem 0;
    background-color: #fbeed4;
    border-radius: 1rem;
  }
}

/* Fin Form  */

/* Clases mobile */

@media screen and (max-width: 1024px) {
  .header {
    padding-top: 0.6rem;
    .header__logo {
      @include size(40px, 40px);
    }
    .header__item {
      padding: 0.5rem;
      a {
        font-size: 0.9rem;
      }
    }
  }

  .section {
    padding: 1rem 1rem;
  }
  .section-map {
    padding: 1rem 0;
  }

  .section-map__content {
    width: 100%;
  }
  .section__content--map {
    @include size(100%, 350px);
    margin-top: 50px;
  }
  // .section__content--info {
  //   width: 350px;
  // }
  // .section__content--map {
  //   @include size(100%, 350px);

  //   margin-top: 50px;
  // }
  .section__content--img {
    @include size(100%, 340px);
  }

  .section-map {
    padding: 1rem 0;
    .section-map__content {
      width: 100%;
    }
  }

  .footer {
    .container {
      display: flex;
      align-items: center;

      justify-content: space-between;
    }
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .bio {
    flex-direction: column;
    padding: 1rem 0rem;
    .bio__content {
      padding: 1.5rem;
      .bio__content--img {
        width: 100%;
      }
    }
  }

  .feed {
    flex-direction: column;
    .feed__container {
      width: 100%;
    }
  }

  .publicacion {
    width: 100%;
  }

  .title {
    padding-bottom: 2rem;
  }

  .form {
    flex-direction: column;
    .form__content--info {
      width: 354px;
      margin-left: 10px;
    }
  }
}

/* Fin clases mobile */

/* Clases desktop */

@media screen and (min-width: 1024px) {
  .header {
    padding-top: 0.25rem;

    .header__logo {
      @include size(50px, 50px);
    }
    .header__item {
      padding: 1rem;
      .header__item a {
        font-size: 1rem;
      }
    }
  }

  .slider__img {
    padding: 0 6rem;
  }

  .section-map {
    padding: 1.5rem 4rem;
  }
  .section__content--map {
    @include size(550px, 350px);
  }
  .section {
    padding: 1.5rem 4rem;
  }
  .section__content--p {
    padding-right: 4rem;
  }

  .section__content--img {
    @include size(400px, 400px);
  }

  .footer {
    .container {
      display: flex;
      align-items: center;

      justify-content: space-between;
    }
  }

  .padding-right {
    padding: 2rem 2rem 2rem 0;
  }

  .padding-left {
    padding: 2rem 0 2rem 2rem;
  }

  .bio {
    padding: 1rem 6rem;
    .bio__content {
      padding: 4rem;
      .bio__content--img {
        width: 400px;
      }
    }
    .bio__container {
      border-radius: 50%;
      @include size(400px, 400px);

      &:hover {
        background-color: #ad976b42;
        &:hover img {
          opacity: 0.6;
          transition: 0.3s;
        }
      }
    }
  }

  .feed {
    margin: 35px 80px 100px 80px;
    .feed__container {
      height: 400px;
      &:hover {
        background-color: #ad976b42;
        &:hover img {
          opacity: 0.35;
          transition: 0.3s;
        }
      }
    }
  }

  .publicacion {
    width: 400px;
  }

  .form {
    padding: 4rem;
    .form__content--info {
      width: 400px;
    }
  }
}

/* Fin clases desktop */
